{% extends "events/base.html" %}
{% block content %}
  <h1>Event Management</h1>
   <a class="nav-link" href="{% url "events-create" %}">Add event</a>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Category</th>
      <th scope="col">Location</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">&nbsp;&nbsp;</th>
      <th scope="col">&nbsp;&nbsp;</th>
    </tr>
  </thead>
  {% for event in Event.objects.all() %}
    </tbody>
      <tr>
        <th>{{ event.name }}</th>
        <th>{{ event.category }}</th>
        <th>{{ event.location }}</th>
        <th>{{ event.start }}</th>
        <th>{{ event.end }}</th>
        <th><a class="nav-link" href="{% url 'events-update' user.pk %}">edit</a></th>
        <th><a class="nav-link" href="{% url 'events-detele' user.pk %}">delete</a></th>
      </tr>
    </tbody>
  {% endfor %}
  </table> 
{% endblock content %}