{% extends 'events/base.html' %}

{% load static %}


{% block content %}
<h1>{{ event.event_name }}</h1>

<body>
  <div style="display:block; width:100%;">
    <div style="width:20%; float: left; display: inline-block;">
      Event Name: {{ event.event_name }}<br>
      Event Category: {{ event.category }}<br>
      Location: {{ event.location}}<br>
      Start: {{ event.start_date }} {{ event.start_time }}<br>
      End: {{ event.end_date }} {{ event.end_time }}
    </div>
    <div style="width:40%; float: left; display: inline-block;">
      Event Description:{{ event.event_description }}<br>
      Adult Price:{{ event.adult_price }}<br>
      Child Price:{{ event.child_price}}
    </div>
    <div style="width:40%; float: left; display: inline-block;">
      <img src="{{ event.event_image.url }}" width="600" height="400">
    </div>
  </div>
  <a target="_blank" href="{% url 'event-register' event.pk %}">
      <button type="button">Register</button>
  </a>


{% endblock content %}
