{% extends "UserApp/base.html" %}
{% block content %}
  <h1>User Management</h1>
   <a class="nav-link" href="{% url "register" %}">Add user</a>
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">User Email</th>
      <th scope="col">User Role</th>
      <th scope="col">&nbsp;&nbsp;</th>
      <th scope="col">&nbsp;&nbsp;</th>
    </tr>
  </thead>
  {% for user in users %}
    </tbody>
      <tr>
        <th>{{ user.firstName }}</th>
        <th>{{ user.lastName }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.role }}</th>
        <th><a class="nav-link" href="{% url 'users-update' user.pk %}">edit</a></th>
        <th><a class="nav-link" href="{% url 'users-detele' user.pk %}">detele</th>
      </tr>
    </tbody>
  {% endfor %}
  </table> 
{% endblock content %}