{% extends "productapp/base.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.product_id }}</a>
              <small class="text-muted">{{ object.date_created|date:"F d, Y" }} sell by {{ object.seller }}</small>
            </div>
            <h2> {{ object.product_name }} </h2>
            <img src="{{object.product_image.url}}"  width="250" height="250">
            <br />
            <p class="article-content">{{ object.product_detail }}</p>
          </div>
    </article>
    <div class="border-top pt-3">
  		<a class="ml-2", href="{% url "product-update" product.product_id %}"> Update</a>
      <a class="ml-2", href="{% url "product-delete" product.product_id %}"> Delete</a>
  		</small>
  	</div>
{% endblock content %}