{% extends "UserApp/base.html" %}
{% block content %}
  <div class="content-section">
  	<form method="POST">
  		{% csrf_token %}
  		<fieldset class="form-group">
  			<legend class="border-bttom mb-4">Create User</legend>
  			{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
  		</fieldset>
  		<div class="form-group">
  			<button class="btn btn-outline-info" type="submit"> Add User</button>
  		</div>	
  	</form>
  	<div class="border-top pt-3">
  	</div>
  </div>
{% endblock content %}